@font-face {
  font-family: opensans;
  src: url(../font/opensans.ttf);
}
body {
  font-family: opensans;
  width: 1060px;
  height: auto;
  border: 1px solid lightgray;
  margin: auto;
  padding: 50px 45px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
/***********************Главное меню*******************************/
.logo {
  display: inline-block;
  margin: 40px 45px 40px 40px;
}
.nav {
  background-image: url(../img/nav.png);
  margin-left: 40px;
}
ol.nav li {
  display: inline-block;
  padding: 10px 20px;
  color:#fff;
  text-decoration: none;
}
#top {
  text-decoration: none;
  padding: 10px 50px;
  color:#fff;
}
#top:hover {
  background-image: url(../img/nav_active.png);
}

/***************************Левое меню**************************/


.left_menu {
  border-collapse: collapse;
  margin: 30px 40px 30px 52px;
  padding: 15px;
  width: 288px;
  height: 240px;
  float: left;
}

td {
  border: 1px solid black;
  border-color: #C8C8C8;
  padding: 20px;

}
td:hover {
  background-color: #F9F9F9;
  margin: 10px;
  color: black;
  font-weight: bold;

}
#left_bar {
text-decoration: none;
color:lightgray;
}
#left_bar:hover {
  color:black;
  font-weight: bold;
  margin-left:10px;
}

/************************Контент*********************/
.content {
  float:right;
  width: 678px;
}

.bike {
  margin-top: 29px;
  border: 1px solid lightgray;
}
p {
  margin: 25px;
}
.clear {
  clear: both;
}

/**************************Footer************************/
.feedback {
  background-image: url(../img/feedback.png);
}
ul.feedback li {
display:inline-block;
padding: 15px;

}
#feedback {
text-decoration: none;
color: black;

}
#feedback:hover {
  text-decoration: underline;
}
#copy {
  position: relative;
  left: 420px;
}
